# Build artefacts
/build/*
/core/*
/coverage/*
/package.json
/package-lock.json
/.lintstagedrc.json
/jest.config.js

# Data definition files
**/*.d.ts

# Custom Files
/rollup.config.js
/src/services/serviceWorker.ts

# Styles
/src/styles/scss/*
