# Build artefacts
/build/*
/core/*
/coverage/*
/package.json
/package-lock.json
/.lintstagedrc.json
/jest.config.js

# Custom Files
/rollup.config.js
/src/services/serviceWorker.ts

# Styles
src/styles/scss/*
